.fancy-button {
    background-color: white;
    color: #e66d1c;
  }

  .fancy-button i.material-icons {
    color: #151616;
    padding-right: 4px;
  }

  .button, button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    background-color: #d27919;
    color: black;
    border: none;
  }

  a {
    cursor: pointer;
    color: #1976d2;
    text-decoration: none;
  }
  
  a:hover {
    opacity: 0.8;
  }
  